body {
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	overflow-y: scroll;
	min-width: 280px;
}

.navbar {
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	font-weight: 900;
	background: white;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: black;
}


.headings {
	font-weight: 600;
}

.addfile {
	width: 100%;
}

@media (min-width: 576px) {
	.addfile {
		width: 600px;
	}
}

.showfiles {
	max-width: 1200px;
	padding: 17px;
}

.accordion-flush {
	font-weight: 300;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-button:hover {
	background-color: #e9ecef;
}

.accordion-button:not(.collapsed) {
	color: #000000;
	font-weight: 500;
	background-color: #f8f9fa;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

.accordion-body {
	border: solid #f8f9fa 1px;
}

.results-table {
	max-height: 500px;
	overflow-y: scroll;
}

.table-container {
	width: 100%;
}

.card {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;

	padding-bottom: 50px;

	overflow: hidden;
}

.card-body {
	padding: 0;
}

.card#file-contents-accordion {
	border: none;
	padding: 5px;
}

#file-contents-accordion .card-header {
	background-color: white;
	border: none;
	padding: 0;
}

#file-contents-accordion .card-body {
	border: solid 1px black;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
}

textarea {
	border-radius: 20px;
}

.btn {
	background-color: black;
	border-radius: 20px;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #5a5a5a !important;
	border-color: #5a5a5a !important;
}

.form-check-input:checked {
	background-color: black;
	border-color: black;
}

.nav-tabs {
	--bs-nav-tabs-border-radius: 20px;
}

.nav {
	--bs-nav-link-color: gray;
	--bs-nav-link-hover-color: black;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: #000000;
}

::selection {
	background-color: lightgray;
	color: black;
}